*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
# Ignore native files (C++, Objective-C, etc.)
android/* linguist-vendored
ios/* linguist-vendored
*.h linguist-vendored
*.m linguist-vendored
*.cpp linguist-vendored
*.mm linguist-vendored

# Ensure JavaScript and TypeScript are properly recognized
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript